
<form action ="/submit" method="post">
  <label for="article_name">Article Name</label>
    <input type="text" id="article_name" name="article_name"/><br>

  <label for="article_url">Article Url</label>
    <input type="text" id="article_url" name="article_url" /><br>

  <label for="article_description">Article Description</label>
    <textarea id="article_description" name="article_description"/></textarea><br>

    <input type="submit" />


<!-- Article Name: <input type="text" name="article_name"><br>
Article Url: <input type="text" name="article_url"><br>
Article Description: <textarea rows="10" cols="180">
Enter the description of the article.
</textarea> -->
</form>

<!-- <form action="/tasks" method="post">
      <label for="task_name">New Task:</label>
      <input type="text" id="task_name" name="task_name" />

      <input type="submit" />
  </body> -->
